<div class="jumbotron">
    <div class="container">
        <h1>Are you ready to be fit?</h1>
        <p>Join us!</p>
        <br>
        <p>
            <%= button_to 'Sign into your account', api_v1_users_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Work out your way</h3>
            <p>We offer various types of gym equipment so that you can best match the exercises to your needs.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Contact us</h3>
            <p>Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.
            </p>
            <div class="container">

            <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-phone"></i>
          </a>
          <p>+ 01 234 567 89</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-envelope"></i>
          </a>
          <p>info@gmail.com</p>
        </div>
      </div>
                
        </div>
        </div>
    </div>
</div>

   
   